.header {
  background-color: #daffe7;
  height: 90px;
}

.main {
  background-color: #fff0e4;
  width: 1300px;
  height: 1200px;
}

.contact-form {
  background-color: #f0f8ff;
  height: 500px;
}

.footer {
  background-color: #fcffc0;
  height: 100px;
}
